@model IEnumerable<A1Final.Models.InteractiveTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" rel="stylesheet" />*@

<h2>Interacitive Data with User, Booking and Vets tables</h2>

@if (User.IsInRole("Admin"))
{
    if (Model == null || Model.Count() == 0)
    {
        <p>There is no records</p>
    }
    else

    {
        <table class="table" id="interactive">
            <thead>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        User Id
                    </th>
                    <th>
                        Booking User Id
                    </th>
                    <th>
                        Booking Date
                    </th>
                    <th>
                        Booking Descriptions
                    </th>
                    <th>
                        Vets First Name
                    </th>
                    <th>
                        Vets Last Name
                    </th>
                    <th>
                        Vets Location
                    </th>
                    <th>
                        Vets Latitude
                    </th>
                    <th>
                        Vets Longtitude
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.userdetails.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.userdetails.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.bookingdetails.AspNetUsersId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.bookingdetails.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.bookingdetails.Descirption)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vetdetails.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vetdetails.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vetdetails.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vetdetails.Latitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vetdetails.Longitude)
                        </td>

                    </tr>
                }
            </tbody>
        </table>


    }
}
else
{
    <p>Only Administrator can view this page</p>
}


@section Scripts {

    <script>
        $(document).ready(function () {
            $("#interactive").DataTable();
        });
    </script>

    <script src="~/Scripts/notify.min.js"></script>
    <script>
        $(document).ready(function () {
            $.notify("Welcome Admin,Here are booking details for all users", "success");
        });
    </script>
}





